page-login {
    .login-content {
        background: map-get($colors, 'darkblues');
        .logo-row {
          padding-top: 50px;
          padding-bottom: 20px;
          text-align: center;
        }
        .logo-row h1{
            margin:0 auto;
            text-align: center;
            color: #ffffff;
        }
     
        .login-box {
          background: map-get($colors,  'darkblues' );
          padding: 20px 20px 0px 20px;
          margin-top: 30px;
          width:100%;
        }
     
        ion-row {
           align-items: center;
           text-align: center;

         }
     
         ion-item {
             border-radius: 20px !important;
             padding-left: 20px !important;
             font-size: 0.9em;
             margin-bottom: 10px;
             border: 1px solid #ffffff;
             border-bottom: 0px !important;
             box-shadow: none !important;
         }
     
         .signup-col {
           margin: 0px 16px 0px 16px;
           padding-bottom: 20px;
         }
     
         .item-inner {
           border-bottom-color: #ffffff !important;
           box-shadow: none !important;
         }
     
         .submit-btn {
           background:map-get($colors, 'bluecolor' );
           border-radius: 20px !important;
           border: 1px solid #ffffff;
           color:map-get($colors, 'bgcolor' )
         }
     
         .register-btn {
           color: #ffffff;
           font-size: 0.8em;
         }

         .text-col{
             margin-top:-30px;
         }
      }

}
