page-category {
    .cardoption{
        position: relative;
    }
    .cardheaditem{
        position: absolute;
        top:37%;
        background-color:rgba(0,0,0,0.5);
        padding:6px;
    }

    .cardheaditem.item.item-ios{
        top:36%;
        padding:11px;
    }

    .cardheaditem h2{font-size:110%;font-weight: bold;}
    .cardheaditem h2, .cardheaditem p{
        color:#fff;
    }
    .cardheaditem p .icon{
        color: map-get($colors, yellowcolor );
    }

    .cardcontent_gra{
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 3%, rgba(0,0,0,0.65) 8%, rgba(0,0,0,0) 38%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 3%,rgba(0,0,0,0.65) 8%,rgba(0,0,0,0) 38%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 3%,rgba(0,0,0,0.65) 5%,rgba(0,0,0,0) 28%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );

    }
}
