page-home {
    .slidebanner{
        height:15rem;
        border:1px solid #ccc;
    }
}

.bg{
    background-color: #000 !important;
    color:#FFF !important;
}
.toolbar-background-md,.toolbar-background-ios{
    background-color:#000 !important;
    color:#FFF !important;
}
