page-home {
   
    .rowheader{
        width:100%;
        height:auto;
       /*  background-color:map-get($colors, bgcolor ); */
        color:map-get($colors, whitecolor );
    }

    .title{
        padding-top:12px;
        padding-left:15px;
        font-size:110%
    }

    .coldata{
        display:inline-block;
        padding:0px;
    }
    

      .scrollElement{
        width:100%;
        max-height:100vh;
        display:block;
        white-space: nowrap;
        border-bottom: 1px inset #555555;
      }

      /* Larger than a phone */
@media (min-width: 567px) {
    .scrollElement{
        height:30vh;
    }
    .slidebanner{
        height:auto;
       /*  border:1px solid #ccc; */
    }
  }
  
/* Larger than a phone and Landscape */
@media (min-width: 1025px) {
    .scrollElement{
        height:45vh;
    }
    
  }

  /* Small devices such as phone */
  @media (max-width: 567px) {
    .scrollElement{
        height:45vh;
    }
    .slidebanner{
        height:auto;
       /*  border:1px solid #ccc; */
    }
  }



}


