page-home {
    .slidebanner{
        height:15rem;
        border:1px solid #ccc;
    }
    .rowheader{
        width:100%;
        height:auto;
        background-color:map-get($colors, bgcolor );
        color:map-get($colors, whitecolor );
    }

    .coldata{
        display:inline-block;
        padding:0px;
    }
    

      .scrollElement{
        width:100%;height:45vh;
        max-height:100vh;
        display:block;
        white-space: nowrap
      }

      @media  screen and (max-width:768) {
        .scrollElement{
            width:100%;height:45rem;
      }
    }


}


