<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="bgcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> </ion-title>
    <ion-buttons end color="bgcolor">
      <button ion-button clear icon-only (click)="openweb('webboard')" >
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
      <button ion-button clear icon-only (click)="openweb('facebook')" >
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button clear icon-only (click)="openweb('instragram')" >
        <ion-icon name="logo-instagram"></ion-icon>
      </button>
      <button ion-button clear icon-only (click)="openweb('youtube')" >
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="contentdark">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      
  <ion-slides class="slidebanner">
    <ion-slide>
      <img src="assets/imgs/{{'banner_img' | translate }}">
    </ion-slide>
    
  </ion-slides>
<hr style="border-bottom: 1px inset #555555;" />

<div *ngIf="isloading" style="height:auto;" >
  <ion-row class="rowheader">
    <ion-col col-6 class="title"><img src="assets/icon/recommend.png" height="20" style="float:left;margin-right:10px;" />{{'recommend' | translate }} </ion-col>
    <ion-col col-6 text-right><button ion-button small color="light" clear (click)="opencategory(132)">{{'viewall' | translate}}</button></ion-col>
</ion-row>
<ion-scroll scrollX="true"  class="scrollElement">
<ion-col col-10 col-md-5 col-lg-5 col-xs-5 *ngFor="let row of [1,2,3,4]" class="coldata" >
<ion-card #container > 
  <img class="featureimage" [defaultImage]="'assets/imgs/no-image.jpg'" [lazyLoad]="" [scrollObservable]="container.ionScroll" [offset]="1000" [scrollTarget]="container.scrollElement" (click)="opendetail(row,this.feature_image[row.id])" />
<!--  <img src="{{feature_image.source_url}}" (click)="opendetail(data)" /> -->
  <ion-item>
    <span item-left class="textdiff"><ion-spinner name="bubbles"  ></ion-spinner></span>
    
  </ion-item>
  
  <ion-item>
    <span item-left class="textdiff"><ion-spinner name="bubbles"  ></ion-spinner> </span>
    <button ion-button icon-left clear item-end disabled >
      <ion-icon name="navigate"></ion-icon>
      Go!
    </button>
  </ion-item>

</ion-card> 
</ion-col>
</ion-scroll>
</div>

  <div *ngIf="!isloading">
      <ion-row class="rowheader">
          <ion-col col-6 class="title"><img src="assets/icon/recommend.png" height="20" style="float:left;margin-right:10px;" />{{'recommend' | translate }} </ion-col>
          <ion-col col-6 text-right><button ion-button small color="light" clear (click)="opencategory(132)">{{'viewall' | translate}}</button></ion-col>
      </ion-row>
    <ion-scroll scrollX="true"  class="scrollElement">
    <ion-col col-10 col-md-5 col-lg-5 col-xs-5 *ngFor="let row of data_recomment.data" class="coldata" >
      <ion-card #container > 
        <img class="featureimage" [defaultImage]="'assets/imgs/no-image.jpg'" [lazyLoad]="this.feature_image[row.id]" [scrollObservable]="container.ionScroll" [offset]="1000" [scrollTarget]="container.scrollElement" (click)="opendetail(row,this.feature_image[row.id])" />
      <!--  <img src="{{feature_image.source_url}}" (click)="opendetail(data)" /> -->
        <ion-item>
          <h2>{{row.title.rendered}}</h2>
          <small [innerHtml]="row.excerpt.rendered"></small>
        </ion-item>
        
        <ion-item>
          <span item-left class="textdiff"><ion-spinner name="bubbles" *ngIf="!diff" ></ion-spinner><ion-icon name="pin"></ion-icon> {{getdistanct(row.latlong,row.longtitude)}}</span>
          <button ion-button icon-left clear item-end (click)="openmap(row.latlong,row.longtitude);">
            <ion-icon name="navigate"></ion-icon>
            Go!
          </button>
        </ion-item>
      
      </ion-card> 
    </ion-col>
  </ion-scroll>
  </div>

<div *ngIf="isloading" style="display:block;position:relative;" >
  <ion-row   *ngFor="let caterow of [1,2,3,4,5]" > 
    <ion-row class="rowheader">
        <ion-col col-6 class="title">
          <ion-spinner name="bubbles"  ></ion-spinner>
        </ion-col>
        <ion-col col-6 text-right><button ion-button color="light" small clear ><ion-spinner name="bubbles"  ></ion-spinner></button></ion-col>
    </ion-row>
    <ion-scroll scrollX="true" class="scrollElement" >
    <ion-col col-10 col-md-5 col-lg-5 col-xs-5 *ngFor="let row of [1,2,3,4]" class="coldata" >
      <ion-card #container1> 
        <img class="featureimage" [defaultImage]="'assets/imgs/no-image.jpg'" [lazyLoad]="" [scrollObservable]="container1.ionScroll" [offset]="5000" [scrollTarget]="container1.scrollElement" (click)="opendetail(row,this.feature_image[row.id])" />
        <ion-item>
          <ion-spinner name="bubbles"  ></ion-spinner>
          
        </ion-item>
      
        <ion-item>
          <span item-left class="textdiff"><ion-spinner name="bubbles"  ></ion-spinner></span>
          <button ion-button icon-left clear item-end disabled>
            <ion-icon name="navigate"></ion-icon>
            Go!
          </button>
        </ion-item>
      
      </ion-card> 
    </ion-col>
    </ion-scroll>
  </ion-row>
</div>


<span *ngIf="!isloading">
  <ion-row   *ngFor="let caterow of category" style="z-index:2;"> 
    <ion-row class="rowheader">
        <ion-col col-6 class="title">
          <img src="{{cateicon[caterow.slug]}}" height="20" style="float:left;margin-right:10px;" />
          <div [innerHTML]="caterow.name"></div> </ion-col>
        <ion-col col-6 text-right><button ion-button color="light" small clear (click)="opencategory(caterow.id)">{{'viewall' | translate}}</button></ion-col>
    </ion-row>
    <ion-scroll scrollX="true" class="scrollElement" >
    <ion-col col-10 col-md-5 col-lg-5 col-xs-5 *ngFor="let row of caterow.data" class="coldata" >
      <ion-card #container1> 
        <img class="featureimage" [defaultImage]="'assets/imgs/no-image.jpg'" [lazyLoad]="this.feature_image[row.id]" [scrollObservable]="container1.ionScroll" [offset]="5000" [scrollTarget]="container1.scrollElement" (click)="opendetail(row,this.feature_image[row.id])" />
        <ion-item>
          <h2>{{row.title.rendered}}</h2>
          <small [innerHtml]="row.excerpt.rendered"></small>
          
        </ion-item>
      
        <ion-item>
          <span item-left class="textdiff"><ion-spinner name="bubbles" *ngIf="!diff" ></ion-spinner><ion-icon name="pin"></ion-icon> {{getdistanct(row.latlong,row.longtitude)}}</span>
          <button ion-button icon-left clear item-end (click)="openmap(row.latlong,row.longtitude);">
            <ion-icon name="navigate"></ion-icon>
            Go!
          </button>
        </ion-item>
      
      </ion-card> 
    </ion-col>
    </ion-scroll>
  </ion-row>
</span> 
  
   
</ion-content>
