page-webboard-reply {
    #myInput {
        width: calc(100% - 10px);
        border : 0 ;
        border-radius: 0;
        background: transparent;
    }

    .emojicon{
        margin-left:10px;
    }
}
