<ion-menu [content]="content">

  <ion-toolbar color="darkblues">
    <ion-title>Menu</ion-title>
  </ion-toolbar>

  <ion-content class="mainmenu">
      <ion-card text-center class="hide-card">
          <img src="https://github.com/ionic-team/ionic-preview-app/blob/master/src/assets/img/nin-live.png?raw=true" class="custom-avatar"/>
          
          <h2 *ngIf="logedin" >Username</h2>
          <h2 *ngIf="!logedin" ><button ion-button menuClose (click)="openlogin()" >Login</button></h2>
          
          <hr>
      </ion-card>
    
    
    
    <ion-list >
      <button menuClose ion-item>
        Menu A
      </button>
      <button menuClose ion-item>
        Menu B
      </button>
      <button menuClose ion-item>
        Menu C
      </button>
      <button menuClose ion-item>
        Menu D
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>




<!-- <ion-nav [root]="rootPage"></ion-nav> -->
