<ion-menu [content]="content">

  

  <ion-content class="mainmenu contentdark">
      <ion-card text-center class="hide-card contentdark">
          <img  [src]="avatar"  class="custom-avatar"/>
          <ion-item *ngIf="logedin" class="contentdark" style="border-bottom:1px solid #ccc;"> 
            <ion-title style="justify-content: center; "><h2 style="color:#fff;" >{{userdetail.name}}</h2></ion-title>
            <!-- <button item-end ion-button  clear outline icon-only menuClose (click)="opensetting()"><ion-icon name="settings"></ion-icon></button> -->
          </ion-item>
         
          <h2 *ngIf="!logedin" ><button ion-button menuClose (click)="openlogin()" >Login</button></h2>
          
      </ion-card>
    
    <ion-list style="padding-bottom:5rem;" class="contentdark">
       
      <button menuClose ion-item *ngFor="let row of categorylist" (click)="opencategory(row.id)" class="contentdark" >
          <img src="{{menuicon[row.slug]}}" height="20" style="float:left;margin-right:10px;" /><span [innerHtml] = "row.name"></span><ion-badge item-end>{{row.count}}</ion-badge>
      </button>
      <button menuClose ion-item (click)="opensetting()"   class="contentdark" >
          <span>{{'setting' | translate}}</span>
        </button>
      <button menuClose ion-item *ngIf="logedin"  (click)="logout()" class="contentdark" >
        <span>Logout</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>




<!-- <ion-nav [root]="rootPage"></ion-nav> -->
