<ion-menu [content]="content">

  <ion-toolbar color="bgcolor">
    
  </ion-toolbar>

  <ion-content class="mainmenu">
      <ion-card text-center class="hide-card">
          <img  [src]="avatar"  class="custom-avatar"/>
          <ion-item *ngIf="logedin"> 
            <ion-title style="justify-content: center"><h2  >{{userdetail.name}}</h2></ion-title>
            <button item-end ion-button  clear outline icon-only menuClose (click)="opensetting()"><ion-icon name="settings"></ion-icon></button>
          </ion-item>
         
          <h2 *ngIf="!logedin" ><button ion-button menuClose (click)="openlogin()" >Login</button></h2>
          
      </ion-card>
    
    <ion-list style="padding-bottom:5rem;">
        <button menuClose ion-item (click)="opensetting()"  >
            <span>{{'setting' | translate}}</span>
          </button>
      <button menuClose ion-item *ngFor="let row of categorylist" (click)="opencategory(row.id)" >
        <span [innerHtml] = "row.name"></span><ion-badge item-end>{{row.count}}</ion-badge>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>




<!-- <ion-nav [root]="rootPage"></ion-nav> -->
