postlist {
  .title {
    position: absolute;
    font-weight: bold;
    font-size: 140%;
    color: #ffffff;
    top: 125px;
    word-wrap: break-word;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    left: 15px;
  }
  .exc {
    /* padding: 10px;
    color: map-get($colors, dark);
    width:100%;
    max-height: 5rem;
    word-wrap: break-word;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; */
  }

  .textdiff{
    font-size:60%;
    color:map-get($colors, redcolor );
  }

  .featureimage{
    min-height:150px;
  }

}
