page-detail {
    .list{
        /* background-color:map-get($colors, 'bgcolor' ); */
        margin:-1px 0 10px;
    }
    .list-md{
        border-bottom:1px solid #ccc;
    }
    .item{
        font-size:small;
    }
    .list-header{
        margin-bottom:-10px;
    }
    /* .list-header-ios{
        border-bottom:1px;
        text-transform: none;
        color:#757575;
        font-size:1.4rem;
        font-weight: normal;
    }

    .list-ios > .item-block:first-child{
        border-top:0px;
    } */

    .item .item-block{
        padding-left:30px;
    }

    .alignnone{
        height:auto;
        width:100%;
    }
    #gallery-1 .gallery-item {
        float: left;
        margin-top: 10px;
        text-align: center;
        width: 33.333334%;
    }

    .gallery-icon  img{
        height:auto !important;
    }


    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 100; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: hidden; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* show loading image before actual image */
    .imageshow{
        background : url(../../assets/fancybox/fancybox_loading.gif) center center no-repeat;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 10px;
        border: 1px solid #888;
        width: 100%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
		
		
}
