<ion-header>

  <ion-navbar color="bgcolor">
    <ion-title></ion-title>
    <ion-buttons end color="bgcolor">
        <button ion-button clear icon-only (click)="replycomment(0);" >
          <ion-icon name="undo" ></ion-icon> Reply
        </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="contentdark">
   
  <ion-card>
    <ion-card-content>
      <h1>{{commentdata.data.post_title}}</h1>
      <br/>
      <div [innerHtml]='commentdata.data.post_content'></div>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>By : {{commentdata.author.detail.nickname}}</div>
        </button>
      </ion-col>

      <ion-col center text-center>
          <button ion-button icon-start clear small>
        <ion-icon name="chatbubbles"></ion-icon> {{commentdata.data.comment_count}}
        </button>
      </ion-col>
    </ion-row>
  
 
  <!-- <ion-list >
    <ion-list-header>Comment : </ion-list-header>
    <ion-spinner name="bubbles" *ngIf="!this.commentdetail"   ></ion-spinner>
    <ion-item *ngFor="let item of commentdetail" >
      <ion-avatar item-start>
        <img src="assets/imgs/Dainut_ad_th.jpg">
      </ion-avatar>
      <p>{{item.comment_content}}</p>
      <ion-note>{{item.comment_author}}</ion-note>
    </ion-item>
    
  </ion-list> -->
 
</ion-card>

<ion-row style="background-color:#fff;">
  <ion-col style="margin:12px;background-color:#fff;">Comment : </ion-col>
</ion-row>
<ion-spinner name="bubbles" *ngIf="!this.commentdetail"   ></ion-spinner>
<ion-row *ngFor="let item of commentdetail">
<ion-card  #container>
    <ion-item>
      <ion-avatar item-start>
          <img [defaultImage]="'assets/imgs/user-no-image.png'" [lazyLoad]="this.commentuser[item.user_id]" [scrollObservable]="container.ionScroll" [offset]="1000" [scrollTarget]="container.scrollElement">
      </ion-avatar>
      <h2>{{item.comment_author}}</h2>
      <p>{{item.comment_date}} </p>
    </ion-item>  
    <ion-card-content padding style="padding-top:16px" [innerHtml]="item.comment_content">
     
    </ion-card-content>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col center text-right>
          <button ion-button icon-start clear small>
        <ion-icon name="chatbubbles"></ion-icon> Reply
        </button>
      </ion-col>
    </ion-row>
    </ion-card>
    <ion-card style="margin-left:10%;width:100%;" #subreply *ngIf="hasreply"  >
        <ion-item>
            <ion-avatar item-start>
                <img [defaultImage]="'assets/imgs/user-no-image.png'" [lazyLoad]="" [scrollObservable]="subreply.ionScroll" [offset]="1000" [scrollTarget]="subreply.scrollElement">
            </ion-avatar>
            <h2>user</h2>
            <p>date </p>
          </ion-item>  
          <ion-card-content padding style="padding-top:16px"> sub reply
           
          </ion-card-content>
  </ion-card>
</ion-row>


</ion-content>
<ion-footer *ngIf="this.db.logedin" >
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>

